@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --default-font: "Roboto";
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: var(--default-font);
}
