.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  align-items: start;


  >.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid red;

    >h1 {
      margin-top: 0.5rem;
      font-family: var(--default-font);
      font-size: var(--default-font-size);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }

    >.poster {
      width: 100%;
      aspect-ratio: 2 / 3;
      object-fit: cover;
      border: 1px solid yellow;

    }
  }
}
